<f:spaceless>
    <f:render section="main" />
    <style>
      #pxa-cookie-bar .cookie-warning{
        background: #222;
  color: #fff;
  font-size: 17px;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
      }
      #pxa-cookie-bar a,
      #pxa-cookie-bar p {
  color: #fff;font-size: 17px;
line-height: 1.2;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
      }
      #pxa-cookie-bar a {
        color: #ff7d00;
        text-decoration: none;
      }
      #pxa-cookie-bar .cookie-container .btn-close {
color: #fff;
  background-color: #ff7d00;
    transition: background 200ms ease-in-out,color 200ms ease-in-out,box-shadow 200ms ease-in-out;
  -webkit-transition: background 200ms ease-in-out,color 200ms ease-in-out,box-shadow 200ms ease-in-out;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border: none;
      }
</style>
</f:spaceless>
