// Responsive Images fuer TYPO3 Fluid Styled Content
//
// blog.teamgeist-medien.de

.img-responsive {
    img, picture {
        display: block;
        max-width: 100%;
    }
}

.ce-gallery {
    > .ce-outer > .ce-inner > .ce-row {
        display: flex;
        .ce-column {
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    &[data-ce-columns="3"] {
        > .ce-outer > .ce-inner > .ce-row {
            .ce-column {
                width: 33%;
            }
        }
    }
}
